{% extends 'base.html' %}
{% block content %}
<header>
    <div>YuKita</div>
    <div>
        Nama: {{ name }}<br>
        Kelas: {{ kelas }}
    </div>
</header>

<div class="container">
  <h2>Cari Hunianmu</h2>
  
<!-- Shop Entry Section -->
<div class="shop-entries">
    <h3>Shop Entries</h3>
    
    {% if not shop_entries %}
    <p>Belum ada pesanan yang masuk</p>
    {% else %}
    <table>
      <tr>
        <th>Nama</th>
        <th>Harga</th>
        <th>Jumlah Kamar</th>
        <th>Lokasi</th>
        <th>Deskripsi</th>
      </tr>
      
      <!-- Display each shop entry -->
      {% for shop_entry in shop_entries %}
      <tr>
        <td>{{ shop_entry.product_name }}</td>
        <td>{{ shop_entry.price }}</td>
        <td>{{ shop_entry.quantity }}</td>
        <td>{{ shop_entry.location }}</td>
        <td>{{ shop_entry.description }}</td>
        <td>
          <a href="{% url 'main:edit_shop' shop_entry.pk %}">
              <button>
                  Edit
              </button>
          </a>
        </td>
        <td>
          <a href="{% url 'main:delete_shop' shop_entry.pk %}">
              <button>
                  Delete
              </button>
          </a>
        </td>
      </tr>
      {% endfor %}
    </table>
    {% endif %}
</div>

<br />

<a href="{% url 'main:create_shop_entry' %}">
  <button>Add New Shop Entry</button>
</a>

<a href="{% url 'main:logout' %}">
  <button>Logout</button>
</a>

<h5>Sesi terakhir login: {{ last_login }}</h5>

</body>
</html>
{% endblock content %}
