<!DOCTYPE html>
<html lang="en">
<body>

<header>
    <div>YuKita</div>
    <div>
        Nama: {{ name }}<br>
        Kelas: {{ kelas }}
    </div>
</header>

<div class="container">
    <h1>{{ product_name }}</h1>
    
    <div class="product-image">
        <img src="https://d2xjmi1k71iy2m.cloudfront.net/dairyfarm/id/images/579/1057924_PE849077_S4.jpg" alt="Product Image">
    </div>
    
    <h5>Price:</h5>
    <p>{{ product_price }}</p>
    
    <h5>Description:</h5>
    <p>{{ product_description }}</p>
    
    <h5>Quantity Available:</h5>
    <p>{{ product_quantity }}</p>
    
    <h5>Location:</h5>
    <p>{{ product_location }}</p>
</div>

<!-- Shop Entry Section -->
<div class="shop-entries">
    <h3>Shop Entries</h3>
    
    {% if not shop_entries %}
    <p>Belum ada pesanan yang masuk</p>
    {% else %}
    <table>
      <tr>
        <th>Name</th>
        <th>Quantity</th>
        <th>Location</th>
        <th>Note</th>
      </tr>
      
      <!-- Display each shop entry -->
      {% for shop_entry in shop_entries %}
      <tr>
        <td>{{ shop_entry.name }}</td>
        <td>{{ shop_entry.quantity }}</td>
        <td>{{ shop_entry.location }}</td>
        <td>{{ shop_entry.note }}</td>
      </tr>
      {% endfor %}
    </table>
    {% endif %}
</div>

<br />

<a href="{% url 'main:create_shop_entry' %}">
  <button>Add New Shop Entry</button>
</a>

</body>
</html>
